
.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  &__input {
    all: none;
    height: 50px;
    width: 550px;
    background-color: $color-input;
    border-radius: 15px;
    border: 1px solid transparent;
    font-family: inherit;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: $color-white;
    transition: scale 0.3s, box-shadow 0.3s;
    outline: none;

    &:focus {
      scale: 1.1;
      box-shadow: 0 0 30px $color-black;
    }

    &--error {
      border-color: $color-danger;
    }
  }

  &__input-error-text {
    color: $color-danger;
    text-align: right;

    &--invisible {
      color: transparent;
      cursor: default;
      user-select: none;
    }
  }

  &__button {
    height: 50px;
    background-color: $color-accent;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    cursor: pointer;
    transition: scale 0.3s, box-shadow 0.3s;
    outline: none;

    &:hover {
      scale: 1.1;
      box-shadow: 0 0 30px $color-black;
    }

    &:focus {
      scale: 1.1;
      box-shadow: 0 0 30px $color-black;
    }

    &--loading::after {
      content: '';
      position: absolute;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      border: 3px solid $color-black;
      border-radius: 50%;
      border-bottom-color: transparent;

      animation: roll 0.5s linear infinite;
    }
  }
}
