.Loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 50px;
    height: 50px;
    border: 5px solid $color-accent;
    border-radius: 50%;
    border-right-color: transparent;
    animation: roll 1s linear infinite;
  }
}
