$color-dark-main: #20232B;
$color-dark-secondary: #1D1E24;
$color-black: #000000;
$color-input: #16171B;
$color-white: #FFFFFF;
$color-accent: #F3FC8A;
$color-secondary: #A3A3A3;
$color-danger: #8E0202;

$header-heigth: 100px;
$button-height: 50px;
$window-height: 750px;

