@import './styles/utils/reset.scss';
@import './styles/utils/variables.scss';
@import './styles/utils/mixins.scss';
@import './styles/utils/animations.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Caveat', cursive;
  color: #fff;
}

@import './App.scss';
@import './styles/components/Loader.scss';
@import './styles/components/Header.scss';
@import './styles/components/Form.scss';
@import './styles/components/Message.scss';
@import './styles/components/ChatsList.scss';
@import './styles/components/Chat.scss';
@import './styles/pages/LoginPage.scss';
@import './styles/pages/SignupPage.scss';
@import './styles/pages/AccountActivationPage.scss';
@import './styles/pages/MainPage.scss';
