@import './styles/reset.scss';
@import './styles/variables.scss';
@import './styles/animations.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Caveat', cursive;
  color: #fff;
}

@import './App.scss';
@import './components/Loader/Loader.scss';
@import './components/Header/Header.scss';
@import './styles/Form.scss';
@import './pages/LoginPage/LoginPage.scss';
@import './pages/SignupPage/SignupPage.scss';
@import './pages/AccountActivationPage/AccountActivationPage.scss';
